<p id="notice"><%= notice %></p>

<h2> Shopping List </h2>
<div>
  <ul>
    <% @shopping_list.keys.sort_by do |key| key.upcase end.each do |item| %>
      <li><%= item %> <%= "(#{@shopping_list[item]})" if @shopping_list[item] > 1 %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', @meal_plan %>
