<p id="notice"><%= notice %></p>

<p>
  <b>Custom description:</b>
  <%= @meal_plan_meal.custom_description %>
</p>


<%= link_to 'Edit', edit_meal_plan_meal_path(@meal_plan_meal) %> |
<%= link_to 'Back', meal_plan_meals_path %>
